@import "nib"
@import "rupture"

@import "../../../docs/src/styles/cf/_cf-docs-variables"
@import "../../../src/styles/mixins/_cf-mixins.styl"

// boilerplate
// we use docs as a foundation

// TBD
.form-outer > h2{
	position: absolute;
	bottom: 20px;
	left: 20px;
}