@import "../_cf-docs-variables"

main.content
	&.cf-toggle:not(.menu-toggle)
		section[role="cf-context"]
			pointer-events auto
			opacity 1

	section[role="cf-context"]
		position absolute
		z-index $zIndex-middle
		pointer-events none
		overflow hidden
		height 100%
		width 100%
		top 0px
		left 0px
		opacity 0
		will-change opacity
		transition opacity $anim-time-2 $anim-easeOut

		+above($breakpoint-1)
			width 50%
			z-index $zIndex-high - 1
			right 0px
			left auto
		
		.close-btn
			position absolute
			z-index $zIndex-high
			right 24px
			top 18px
			width 24px
			height 24px

			svg
				width 100%
				height 100%
	