@import "../cf-docs-variables"

#conversational-form-docs
	&.menu-toggle:not(.cf-toggle)
		section[role="info"]
			transform translateX(0%)

	section[role="info"]
		background red
		position absolute
		z-index $zIndex-low
		height 100%
		width 100%
		will-change transform
		transition transform $anim-time-2 $anim-easeOut

		+below($breakpoint-1)
			transform translateX(100%)
			z-index $zIndex-high - 1

		button.close-btn
			display none

		+below($breakpoint-1)
			button.close-btn
				display block
				position absolute
				z-index $zIndex-high - 1
				right 24px
				top 18px
				width 24px
				height 24px

				svg
					width 100%
					height 100%
		