@import "../../_cf-variables";

cf-radio-button.cf-button {
	&:hover, &.highlight, &:focus {
		cf-radio {
			background: $cf-color-chat-response-user-text;
		}
	}
	
	&.has-image {
		cf-checkbox {
			margin-left: 0px;
		}
	}

	cf-radio {
		display: block;
		float: left;
		width: relativeValue(14px);
		height: relativeValue(14px);
		border-radius: 50%;
		background: $cf-color-chat-response-user-bg;
		will-change: background;
		margin-right: 10px;
		margin-left: -10px;
		margin-top: relativeValue(-1px); // We just need to slightly move it a bit up to align better
		position: relative;
		.conversational-form--enable-animation & {
			transition: background $cf-anim-time * 0.5 $cf-ease-easeOut;
		}
	}

	&[checked="checked"] {
		cf-radio {
			background: $cf-color-chat-response-user-text;
			pointer-events: none;
		}
	}
}