
$anim-easeIn = cubic-bezier(0.550, 0.055, 0.675, 0.190)
$anim-easeOut = cubic-bezier(0.215, 0.610, 0.355, 1.000)
$anim-easeInOut = cubic-bezier(0.645, 0.045, 0.355, 1.000)
$anim-time = 1s

$input-field-height = 40px


$color-chat-reponse-default-bg = #f8f8f8
$color-chat-reponse-user-bg = #e6f3fe

$color-chat-reponse-default-text = #aaafb0
$color-chat-reponse-user-text = #1b9bfc