@import "nib"
@import "rupture"
@import "../../cf-variables"

.cf-button //use class because we share the styling on different elements
	background white
	cursor pointer
	// display inline-table
	border 1px solid alpha($color-dark-blue, 10%)
	padding 12px 24px
	border-radius 24px
	color $color-chat-reponse-user-text
	line-height 1
	user-select none

	transform-origin 25% 0%
	will-change transform, background
	transition transform 0s $anim-easeOut, background $anim-time $anim-easeOut
	transform scale(0, 0)

	&.animate-in
		&:nth-child(even)
			transition-delay 0.05s, 0s
		&:nth-child(odd)
			transition-delay 0.15s, 0s

		transition-duration $anim-time * 0.5, $anim-time
		transition-timing-function $anim-easeOutBack, $anim-easeOut
		transform scale(1, 1)

		&.animate-out
			transform-origin 75% 100%
			transform scale(0, 0)

	&:not(:last-child)
		margin-right 10px

	&:hover, &:focus, &.highlight
		background alpha($color-dark-blue, 10%)

	&:active
		background alpha($color-dark-blue, 20%)