@import "nib"
@import "rupture"
@import "../../cf-variables"

.cf-button
	background white
	cursor pointer
	display inline-table
	border 1px solid alpha($color-dark-blue, 10%)
	padding 15px 35px
	border-radius 25px
	color $color-chat-reponse-user-text
	line-height 1

	will-change background
	transition background $anim-time $anim-easeOut

	&:not(:last-child)
		margin-right 15px

	&:hover
		background alpha($color-dark-blue, 10%)

	&:active
		background alpha($color-dark-blue, 20%)

.cf-button.--disabled
	pointer-events none