@import "../../_cf-variables";

.cf-button { //use class because we share the styling on different elements
	background: white;
	cursor: pointer;
	border: 1px solid rgba($cf-color-primary, .1);
	
	border-radius: calc(#{$cf-chat-response-border-radius} * 1.2);
	color: $cf-color-chat-response-user-text;
	line-height: 1;
	user-select: none;
	overflow: hidden;
	transform: translateZ(0px); // <-- safari...;

	> div {
		padding: 12px 24px;
	}

	&.has-image {
		max-width: 180px;
	}
	
	> div {
		position: relative;
	}

	transform-origin: 0% 100%;
	will-change: opacity, background;
	opacity: 0;
	.conversational-form--enable-animation & {
		transition: opacity 0s $cf-ease-easeOut, background $cf-anim-time $cf-ease-easeOut;
	}

	&.animate-in {
		.conversational-form--enable-animation & {
			&:nth-child(even) {
				transition-delay: 0.05s, 0s;
			}
			&:nth-child(odd) {
				transition-delay: 0.15s, 0s;
			}

			transition-duration: $cf-anim-time * 0.5, $cf-anim-time;
			transition-timing-function: $cf-ease-easeOut, $cf-ease-easeOut;
		}
		opacity: 1;
		&.animate-out {
			transform-origin: 75% 100%;
			opacity: 0;
		}
	}
	
	&:not(:last-child) {
		margin-right: 10px;
	}

	&:hover, &:focus {
		// TODO
		&:not(&[selected="selected"]),
		&:not([checked="checked"]) {
		 	background: rgba($cf-color-primary, .1);
		}
	}

	&[selected="selected"], &[checked="checked"] {
		// TODO
		&:not(:focus):not(:hover):not(.highlight) {
		 	background: rgba($cf-color-primary, .1);
		}
	}
	
	&[disabled="disabled"] {
		pointer-events: none;
		&.animate-in {
			opacity: 0.5;
		}
	}
	
	&:active {
		> div {
			opacity: 0.2;
		}
	}

	.cf-image {
		width: 100%;
		height: auto;
		will-change: opacity;
		transition: opacity $cf-anim-time $cf-ease-easeOut;
		opacity: 0;
		&.loaded {
			opacity: 1;
		}
	}
}