@import "nib"
@import "rupture"
@import "../../cf-variables"

cf-input-control-elements
	width auto
	height auto
	overflow hidden
	display block
	position relative
	padding-top 10px // because else the animations of the buttons will cut...
	z-index 0

	.cf-button
		margin-bottom 10px
		display inline-block

		&.hide
			display none

	&.one-row
		// remember to set values in ControlElements.ts
		cf-list
			height 52px
		cf-list-button
			opacity 0
			pointer-events none

	&.two-row
		cf-list
			height 102px
	
	&.hide-nav-buttons
		cf-list-button
			pointer-events none
			opacity 0

cf-list, cf-list-button
	will-change height
	transition height $anim-time * 0.5 $anim-easeOut
	
cf-list
	display block
	height 0px
	cursor move

	&.disabled
		pointer-events none
