@import "nib"
@import "rupture"
@import "../../cf-variables"

cf-input-control-elements
	width auto
	max-height 110px
	overflow hidden
	display block
	padding 0px 15px
	margin 10px 0px
	position relative
	white-space nowrap

	.cf-button
		margin-bottom 15px

	.cf-button
		display: inline-block
	
	cf-list-button
		display block
		background red
		position absolute
		z-index 2
		right 0px
		height 100%
		width 50px
		cursor pointer