@import "nib"
@import "rupture"
@import "../../cf-variables"

cf-input-control-elements
	width auto
	height auto
	overflow hidden
	display block
	padding 0px 15px
	position relative
	overflow-x scroll
	margin-bottom -15px // hide scrollbar under input field!
	position relative
	z-index 0

	.cf-button
		margin-bottom 15px
		display inline-block

		&.hide
			display none
	
	cf-list, cf-list-button
		will-change height
		transition height $anim-time * 0.5 $anim-easeOut

	&.one-row
		cf-list
			height 65px
		cf-list-button
			height 65px - 18
			opacity 0
	&.two-row
		cf-list
			height 125px
		cf-list-button
			height 125px - 21
	
	&.hide-nav-buttons
		cf-list-button
			pointer-events none
			opacity 0
	
	cf-list
		display block
		height 0px

		&.disabled
			pointer-events none
	
	cf-info
		position absolute
		pointer-events none
		z-index 0
		left 15px
		top 50%
		height 20px
		width 400px
		transform translateY(-50%)

		strong
			font-weight 900
	
	cf-list-button
		display block
		position fixed
		z-index 2
		height 0px
		width 50px
		cursor pointer
		will-change opacity, height
		transition opacity $anim-time * 0.5 $anim-easeOut, height $anim-time * 0.5 $anim-easeOut

		&:nth-child(1)
			background linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
			left 0px

		&:nth-child(2)
			right 0px
			background linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)

		&:after
			content ""
			display block
			width 20px
			height 20px
			position absolute
			background red
			top calc(50% - 10px)
			left calc(50% - 10px)
