@import "nib"
@import "rupture"
@import "../../_cf-variables"

.cf-button.cf-checkbox-button
	&:hover, &.highlight, &:focus
		cf-checkbox
			background $color-chat-reponse-user-text

	&.no-text
		padding 12px 16px

		cf-checkbox
			margin-right 0px
			margin-left 0px
	
	&.has-image
		cf-checkbox
			margin-left 0px

	cf-checkbox
		display block
		float left
		width 14px
		height 14px
		border-radius 3px
		background $color-chat-reponse-user-bg
		will-change background
		margin-right 10px
		margin-left -10px
		position relative
		.conversational-form--enable-animation &
			transition background $anim-time * 0.5 $anim-easeOut

		&:after
			content ""
			position absolute
			top 2px
			left 1px
			display block
			width 13px
			height 10px
			background-image url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTNweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTMgMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZyBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjkwLjAwMDAwMCwgLTUwNS4wMDAwMDApIiBmaWxsPSIjMDA3NkZGIj4KICAgICAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODQuMDAwMDAwLCAxMzYuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMjE2LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE4OS4wMDAwMDAsIDEzOS4wMDAwMDApIj4KICAgICAgICAgICAgICAgICAgICAgICAgPHBvbHlnb24gcG9pbnRzPSIxNy41IDE4LjUgMTYgMjAgMjAgMjQgMjkgMTUuNSAyNy41IDE0IDIwIDIxIj48L3BvbHlnb24+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=")
			background-size 13px 10px
			background-repeat no-repeat
			transform-origin: 50% 50%
			will-change transform
			transform scale(0, 0)
			.conversational-form--enable-animation &
				transition transform $anim-time * 0.5 $anim-easeOut
	
	&[checked="checked"], &[selected="selected"]
		cf-checkbox
			background alpha($color-chat-reponse-user-bg, 0)

			&:after
				transform scale(1, 1)
				.conversational-form--enable-animation &
					transition-timing-function: $anim-easeOut