@import "../../_cf-variables";

.cf-button.cf-checkbox-button {
	&:hover, &.highlight, &:focus {
		cf-checkbox {
			background: $cf-color-chat-response-user-text;
		}
	}

	&.no-text {
		padding: relativeValue(12px) relativeValue(16px);

		cf-checkbox {
			margin-right: 0px;
			margin-left: 0px;
		}
	}
	
	&.has-image {
		cf-checkbox {
			margin-left: 0px;
		}
	}

	cf-checkbox {
		display: block;
		float: left;
		width: relativeValue(14px);
		height: relativeValue(14px);
		border-radius: relativeValue(3px);
		background: $cf-color-chat-response-user-bg;
		will-change: background;
		margin-right: 10px;
		margin-left: -10px;
		margin-top: relativeValue(-1px); // We just need to slightly move it a bit up to align better
		position: relative;
		.conversational-form--enable-animation & {
			transition: background $cf-anim-time * 0.5 $cf-ease-easeOut;
		}

		&:after {
			content: "";
			position: absolute;
			top: relativeValue(2px);
			left: relativeValue(1px);
			display: block;
			width: relativeValue(13px);
			height: relativeValue(10px);
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13px' height='10px' viewBox='0 0 13 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg transform='translate(-290.000000, -505.000000)' fill='" + $cf-color-primary + "'%3e%3cg transform='translate(84.000000, 136.000000)'%3e%3cg transform='translate(1.000000, 216.000000)'%3e%3cg transform='translate(189.000000, 139.000000)'%3e%3cpolygon points='17.5 18.5 16 20 20 24 29 15.5 27.5 14 20 21'%3e%3c/polygon%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
			background-size: relativeValue(13px) relativeValue(10px);
			background-repeat: no-repeat;
			transform-origin: 50% 50%;
			will-change: transform;
			transform: scale(0, 0);
			.conversational-form--enable-animation & {
				transition: transform $cf-anim-time * 0.5 $cf-ease-easeOut;
			}
		}
	}
	
	&[checked="checked"], &[selected="selected"] {
		cf-checkbox {
			background: rgba($cf-color-chat-response-user-bg, 0);

			&:after {
				transform: scale(1, 1);
				.conversational-form--enable-animation & {
					transition-timing-function: $cf-ease-easeOut
				}
					
			}
		}
	}
}