@import "nib"
@import "rupture"
@import "../../cf-variables"

cf-radio-button.cf-button
	&:hover, &.highlight, &:focus
		cf-radio
			background $color-chat-reponse-user-text

	cf-radio
		display block
		float left
		width 14px
		height 14px
		border-radius 50%
		background $color-chat-reponse-user-bg
		will-change background
		transition background $anim-time * 0.5 $anim-easeOut
		margin-right 10px
		margin-left -10px
		position relative

	&[checked="checked"]
		cf-radio
			background $color-chat-reponse-user-text
			pointer-events none