@import "nib"
@import "rupture"
@import "../../_cf-variables"

cf-radio-button.cf-button
	&:hover, &.highlight, &:focus
		cf-radio
			background $color-chat-reponse-user-text
	
	&.has-image
		cf-checkbox
			margin-left 0px

	cf-radio
		display block
		float left
		width 14px
		height 14px
		border-radius 50%
		background $color-chat-reponse-user-bg
		will-change background
		margin-right 10px
		margin-left -10px
		position relative
		.conversational-form--enable-animation &
			transition background $anim-time * 0.5 $anim-easeOut

	&[checked="checked"]
		pointer-events none

		cf-radio
			background $color-chat-reponse-user-text
			pointer-events none