{% extends "../../../layout.twig" %}

{% set page_title = 'Native autocomplete support' %}
{% set page_slug = '/functionality/autocomplete/' %}

{% block page %}
    <h1 id="conditionals-and-branching-intro">{{page_title}}</h1>
    <p>Conversational Form supports the <code class="language-javascript" data-lang="html">list</code> attribute on input elements for implementing native autocomplete support.</p>
    
    <p class="codepen" data-height="365" data-theme-id="0" data-default-tab="html,result" data-user="space10" data-slug-hash="QXLJNr" style="height: 365px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Conversational Forms - native validation (v1.0.0 feature)">
	
{% endblock %}

{% block toc %}
	
{% endblock %}