{% extends "../../../layout.twig" %}

{% set page_title = 'Previous versions' %}
{% set page_slug = '/getting-started/' %}


{% block page %}
    <h1 id="previous-versions">{{page_title}}</h1>
    <p>Below versions are also available through <a href="https://bower.io/" target="_blank">bower</a>, <a href="https://www.npmjs.com/package/conversational-form" target="_blank">npm</a> and <a href="https://github.com/space10-community/conversational-form/tags" target="_blank">Github tags.</a></p>
    
    <h2 id="v.0.9.5">v0.9.5</h2>
    <pre><code class="language-html" data-lang="html">&lt;script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.5/conversational-form.min.js" crossorigin></script></code></pre>
    
    <h2 id="v.0.9.4">v0.9.4</h2>
    <pre><code class="language-html" data-lang="html">&lt;script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.4/conversational-form.min.js" crossorigin></script></code></pre>

    <h2 id="v.0.9.3">v0.9.3</h2>
    <pre><code class="language-html" data-lang="html">&lt;script type="text/javascript" src="https://conversational-form-093-0iznjsw.stackpathdns.com/conversational-form.min.js" crossorigin></script></code></pre>

    <h2 id="v.0.9.2">v0.9.2</h2>
    <pre><code class="language-html" data-lang="html">&lt;script type="text/javascript" src="https://conversational-form-092-0iznjsw.stackpathdns.com/conversational-form.min.js" crossorigin></script></code></pre>
    
    <h2 id="v.0.9.1">v0.9.1</h2>
    <pre><code class="language-html" data-lang="html">&lt;script type="text/javascript" src="https://conversational-form-091-0iznjsw.stackpathdns.com/conversational-form.min.js" crossorigin></script></code></pre>

    <h2 id="v.0.9.0">v0.9.0</h2>
    <pre><code class="language-html" data-lang="html">&lt;script type="text/javascript" src="https://conversational-form-0iznjsw.stackpathdns.com/conversational-form.min.js" crossorigin></script></code></pre>


{% endblock %}

{% block toc %}
	<ul class="section-nav">
		<li class="toc-entry toc-h2"><a href="#previous-versions">Previous versions</a>
			<ul>
                <li class="toc-entry toc-h3"><a href="#v0.9.5">v0.9.5</a></li>
                <li class="toc-entry toc-h3"><a href="#v0.9.4">v0.9.4</a></li>
                <li class="toc-entry toc-h3"><a href="#v0.9.3">v0.9.3</a></li>
                <li class="toc-entry toc-h3"><a href="#v0.9.2">v0.9.2</a></li>
                <li class="toc-entry toc-h3"><a href="#v0.9.1">v0.9.1</a></li>
				<li class="toc-entry toc-h3"><a href="#v0.9.0">v0.9.0</a></li>
			</ul>
		</li>
	</ul>
{% endblock %}