{% extends "../../layout.twig" %}

{% set page_title = 'Localization' %}
{% set page_slug = '/localization/' %}


{% block page %}
    <h1><a href="#overwrite-dictionary" id="overwrite-dictionary" class="anchor"></a>{{page_title}}</h1>
    <p>How to overwrite dictionary when instantiating Conversational Form.</p>
    <div class="row cfdoc-example-row">
    	<div class="col-md-12 col-lg-6">
            <pre><code class="language-javascript>">var conversationalForm = window.cf.ConversationalForm.startTheConversation({
    formEl: document.getElementById("form"),
    context: document.getElementById("cf-context"),
    dictionaryData: {
        "entry-not-found": "Wörterbuchschlüssel wird nicht gefunden.",
        "input-placeholder": "Geben Sie hier Ihre Antwort ein ...",
        "input-placeholder-required": "Eingabe erforderlich ...",
        "input-placeholder-error": "Ihre Eingabe ist nicht korrekt ...",
        "input-placeholder-file-error": "Datei-Upload fehlgeschlagen ...",
        "input-placeholder-file-size-error": "Dateigröße zu groß ...",
        "input-no-filter": "Keine Ergebnisse für <strong>{input-value}</strong>",
        "user-reponse-and": " und ",
        "user-reponse-missing": "Fehlende Eingabe ...",
        "general": "Allgemeiner Typ1|Allgemeiner Typ2"
    },// empty will throw error
    dictionaryRobot: {
        "text": "Bitte schreiben Sie etwas Text.",
        "input": "Bitte schreiben Sie etwas Text.",
        "name": "Wie heißen Sie?",
        "email": "Brauchen Sie Ihre E-Mail.",
        "password": "Bitte geben Sie das Passwort ein",
        "tel": "Wie ist deine Telefonnummer?",
        "radio": "Ich brauche Sie, um eine dieser auszuwählen.",
        "checkbox": "Wählen Sie so viele, wie Sie möchten.",
        "select": "Wählen Sie eine dieser Optionen.",
        "general": "Allgemeines1|Allgemeines2|Allgemeines3.."
    }
});</code></pre>

            <p>The form:</p>
            <form id="form">
                <input type="password" name="cf---password" value="" id="cf---password">
                <input type="text" name="text" value="" id="text">
                <input type="email" name="email" value="" id="email">
                <fieldset>
                    <input type="checkbox" cf-label="checkbox1" name="checkbox">
                    <input type="checkbox" cf-label="checkbox2" name="checkbox">
                </fieldset>

            </form>

    	</div>
    	<div class="col-md-12 col-lg-6 cfdoc-example">
    		<div id="cf-context" role="cf-context" cf-context></div>
    	</div>

        <script>
            window.onload = function(){
                var conversationalForm = window.cf.ConversationalForm.startTheConversation({
                    formEl: document.getElementById("form"),
                    context: document.getElementById("cf-context"),
                    dictionaryData: {
                        "entry-not-found": "Wörterbuchschlüssel wird nicht gefunden.",
                        "input-placeholder": "Geben Sie hier Ihre Antwort ein ...",
                        "input-placeholder-required": "Eingabe erforderlich ...",
                        "input-placeholder-error": "Ihre Eingabe ist nicht korrekt ...",
                        "input-placeholder-file-error": "Datei-Upload fehlgeschlagen ...",
                        "input-placeholder-file-size-error": "Dateigröße zu groß ...",
                        "input-no-filter": "Keine Ergebnisse für <strong>{input-value}</strong>",
                        "user-reponse-and": " und ",
                        "user-reponse-missing": "Fehlende Eingabe ...",
                        "general": "Allgemeiner Typ1|Allgemeiner Typ2"
                    },// empty will throw error
                    dictionaryRobot: {
                        "text": "Bitte schreiben Sie etwas Text.",
                        "input": "Bitte schreiben Sie etwas Text.",
                        "name": "Wie heißen Sie?",
                        "email": "Brauchen Sie Ihre E-Mail.",
                        "password": "Bitte geben Sie das Passwort ein",
                        "tel": "Wie ist deine Telefonnummer?",
                        "radio": "Ich brauche Sie, um eine dieser auszuwählen.",
                        "checkbox": "Wählen Sie so viele, wie Sie möchten.",
                        "select": "Wählen Sie eine dieser Optionen.",
                        "general": "Allgemeines1|Allgemeines2|Allgemeines3.."
                    },
                    // context: document.getElementById("form-outer")[0],
                    // tags: tags,
                    //submitCallback: () => void | HTMLButtonElement
                    
                    //base64 or crossdomain-enabled image url
                    // userImage: "..."
                });
            };
        </script>
    </div>
	
{% endblock %}