{% extends "../../../layout.twig" %}

{% set page_title = 'Submit callback' %}
{% set page_slug = '/functionality/submit-callback/' %}

{% block page %}
    <h1 id="submit-callback">{{page_title}}</h1>
    <p>Perhaps you want to do a an AJAX request to your backend and save the form data?</p>

    <p data-height="400" data-theme-id="light" data-slug-hash="RxadqJ" data-default-tab="js,result" data-user="space10" data-embed-version="2" data-pen-title="Conversational Forms - Submit callback" class="codepen">See the Pen <a href="https://codepen.io/space10/pen/RxadqJ/">Conversational Forms - Submit callback</a> by SPACE10 (<a href="https://codepen.io/jenssog">@space10</a>) on <a href="https://codepen.io">CodePen</a>.</p>
	
	
{% endblock %}
