{% extends "../../layout.twig" %}

{% set page_title = 'Public API' %}
{% set page_slug = '/public-api/' %}

{% block page %}
    <h1><a href="#public-api" id="public-api" class="anchor"></a>{{page_title}}</h1>
    <p>When instantiating ConversationalForm a reference to the instance will be available in window scope.</p>
    
	<pre><code class="language-javascript" data-lang="javascript">window.ConversationalForm</code></pre>
	
	<p>Be aware that if you create mutiple Conversational Forms within one page then the reference will be overwritten with latest created. Use windo.ConversationalForm[form["cf-create-id"]]?` or just manually instantiate the form and user the returned instance.</p>
	
	<h2><a href="#addTags" id="addTags" class="anchor"></a>addTags</h2>
	<p>Add tags to the form, see examples/formless.html for how this can be achived.</p>
	<pre><code class="language-javascript" data-lang="javascript">window.ConversationalForm.addTags(tagsData/*: Array<DataTag>*/, addAfterCurrentStep/*: boolean = true*/, atIndex/*: number = -1*/);</pre></code>

	<h2><a href="#focus" id="focus" class="anchor"></a>focus</h2>
	<p>Sets focus on Conversational Form'</p>
	<pre><code class="language-javascript" data-lang="javascript">window.ConversationalForm.focus();</pre></code>

	<h2><a href="#addRobotChatResponse" id="addRobotChatResponse" class="anchor"></a>addRobotChatResponse</h2>
	<p>add a robot reponse, this you would usually do at the end of a process.</p>
	<pre><code class="language-javascript" data-lang="javascript">window.ConversationalForm.addRobotChatResponse("You have reached the end of the form!");</pre></code>

	<h2><a href="#addUserChatResponse" id="addUserChatResponse" class="anchor"></a>addUserChatResponse</h2>
	<p>add a user reponse. The opposite of the above.</p>
	<pre><code class="language-javascript" data-lang="javascript">window.ConversationalForm.addUserChatResponse("Hello from user.");</pre></code>

	<h2><a href="#remove" id="remove" class="anchor"></a>remove</h2>
	<p>remove the ConversationalForm by calling:</p>
	<pre><code class="language-javascript" data-lang="javascript">window.ConversationalForm.remove();</pre></code>

	<h2><a href="#getFormData" id="getFormData" class="anchor"></a>getFormData</h2>
	<p>get the FormData object of mapped form element, pass in true to get a serialized object back (JSON).</p>
	<pre><code class="language-javascript" data-lang="javascript">window.ConversationalForm.getFormData(serialized);</pre></code>

	<h2><a href="#remapTagsAndStartFrom" id="remapTagsAndStartFrom" class="anchor"></a>remapTagsAndStartFrom</h2>
	<p>remap registered tags and start flow from {index} possible to ignore existing tags, to allow for the flow to just "happen".</p>
	<pre><code class="language-javascript" data-lang="javascript">window.ConversationalForm.remapTagsAndStartFrom(index, setCurrentTagValue, ignoreExistingTags);</pre></code>

{% endblock %}

{% block toc %}
	<ul class="section-nav">
		<li class="toc-entry toc-h2"><a href="#public-api">{{page_title}}</a></li>
		<li class="toc-entry toc-h2"><a href="#addTags">addTags</a></li>
		<li class="toc-entry toc-h2"><a href="#focus">focus</a></li>
		<li class="toc-entry toc-h2"><a href="#addRobotChatResponse">addRobotChatResponse</a></li>
		<li class="toc-entry toc-h2"><a href="#remove">remove</a></li>
		<li class="toc-entry toc-h2"><a href="#getFormData">getFormData</a></li>
		<li class="toc-entry toc-h2"><a href="#remapTagsAndStartFrom">remapTagsAndStartFrom</a></li>
	</ul>
{% endblock %}