{% extends "../../layout.twig" %}

{% set page_title = 'Localization' %}
{% set page_slug = '/localization/' %}


{% block page %}
    <h1 id="overwrite-dictionary">{{page_title}}</h1>
    <p>How to overwrite dictionary when instantiating Conversational Form.</p>
    
    <p data-height="465" data-theme-id="light" data-slug-hash="ZvWwbo" data-default-tab="js,result" data-user="space10" data-embed-version="2" data-pen-title="Conversational Form - Localization" class="codepen">See the Pen <a href="https://codepen.io/space10/pen/ZvWwbo/">Conversational Form - Localization</a> by SPACE10 (<a href="https://codepen.io/jenssog">@space10</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    

{% endblock %}