{% extends "../../layout.twig" %}

{% set page_title = 'Examples' %}
{% set page_slug = '/examples/' %}

{# {% block sidebar %}
	{% include 'sidebar.twig' %}
{% endblock %} #}

{% block page %}
    <h1><a href="#functionality" id="functionality" class="anchor"></a>{{page_title}}</h1>
    <p>Have a look at all the examples listed in the nav.</p>
    <p>If you have a use-case or an example that you think we should cover then please submit an issue on <a href="https://github.com/space10-community/conversational-form/issues" target="_blank">github</a> and we will do our very best to help you and the community out.</p> 

    <div class="row cfdoc-example-row">
    	<div class="col-md-12 col-lg-6">
    		<p><strong>Our form:</strong></p>
    		<form id="cf-form" cf-form>
				<fieldset>
					<label for="name">What's your name?</label>
					<input required cf-questions="Hi there! What's your name? 😊" type="text" class="form-control" name="name" id="name">
				</fieldset>

				<fieldset>
					<label for="occupation">Occupation</label>
					<div class="radio">
					<label>
						<input cf-questions="Great to meet you, {previous-answer}! I'm a web form, what do you do?|Awesome, {previous-answer}! And what do you do?" type="radio" name="occupation" id="occupation-1" value="developer">
						Developer
					</label>
					</div>
					<div class="radio">
					<label>
						<input type="radio" name="occupation" id="occupation-2" value="designer">
						Designer
					</label>
					</div>
					<div class="radio">
					<label>
						<input type="radio" name="occupation" id="occupation-3" value="curious-mind">
						Curious mind
					</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="occupation" id="occupation-2" value="lost">
							Lost cause
						</label>
					</div>
				</fieldset>

				<fieldset>
					<label for="company">Company</label>
					<input cf-questions="Which company are you with?" type="text" class="form-control" name="company" id="company">
				</fieldset>

				<fieldset>
					<label for="opinion">Will conversational interfaces be everywhere?</label>
					<select cf-questions="Do you think conversational forms will replace web forms in the future?" name="opinion" id="opinion" class="form-control">
						<option></option>
						<option>Definitely</option>
						<option>Maybe</option>
						<option>No</option>
					</select>
				</fieldset>

				<fieldset>
					<label for="email">Email</label>
					<input pattern=".+\@.+\..+" cf-error="E-mail not correct" cf-questions="If you want to stay updated on conversational interfaces from SPACE10, please give me your email." type="email" class="form-control" name="email" id="your-email">
				</fieldset>

				<fieldset style="display: none;">
					<label for="thats-all">Are you ready to submit the form?</label>
					<select cf-questions="Are you ready to submit the form?" name="submit-form" id="submit-form" class="form-control">
						<option></option>
						<option>Yup</option>
					</select>
				</fieldset>

				<fieldset style="display: none;">
					<label for="thats-all">Want to start over?</label>
					<select cf-questions="Want to start over?" name="repeat" id="repeat" class="form-control">
						<option></option>
						<option>Yes, let's go again</option>
					</select>
				</fieldset>

				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		<div class="col-md-12 col-lg-6 cfdoc-example">
			<p><strong>The Conversational Form:</strong></p>
			<div id="cf-context" role="cf-context" cf-context></div>
		</div>
	</div>
{% endblock %}