
$anim-easeIn = cubic-bezier(0.550, 0.055, 0.675, 0.190)
$anim-easeOut = cubic-bezier(0.215, 0.610, 0.355, 1.000)
$anim-easeInOut = cubic-bezier(0.645, 0.045, 0.355, 1.000)
$anim-easeOutBack = cubic-bezier(0.175,  0.885, 0.320, 1.275)
$anim-time = 0.75s

$input-field-height = 45px

$breakpoint-1 = 768px

$color-dark-blue = #0D83FF
$color-chat-reponse-default-bg = #f8f8f8
$color-chat-reponse-user-bg = #e6f3fe
$color-input-error-bg = #fef0f0
$color-chat-reponse-default-text = #aaafb0
$color-chat-reponse-user-text = #1b9bfc
$color-input-error-text = #fe8d84
$color-input-text = #acb2b6