@import "nib"
@import "rupture"
@import "../s10cui-variables"

s10cui-input
	display block
	position absolute
	width 100%
	height auto
	bottom 0px

	input
		// resets..
		&:-webkit-autofill
			// -webkit-box-shadow 0 0 0px 1000px white inset
			background-color white

		&:focus, &:focus, &:focus
			outline none
			-webkit-appearance none
			box-shadow 0px 0px 30px rgba(0,0,0,0.2)
		
		border-radius 0
		border none
		-webkit-appearance none

		// styling
		font-family 'Roboto', sans-serif
		font-size 12px

		width 100%
		height $input-field-height
		color $color-input-text
		will-change box-shadow, background, color
		transition box-shadow $anim-time $anim-easeOut, background $anim-time $anim-easeOut, color $anim-time $anim-easeOut
		background white
		box-shadow 0px 0px 1px rgba(0,0,0,0.15)
		padding 5px 5px 5px 15px

		&::-webkit-input-placeholder
			color currentColor
		&::-moz-input-placeholder
			color currentColor
		&:-moz-input-placeholder
			color currentColor
		&:-ms-input-placeholder
			color currentColor

		
	&[disabled="disabled"]
		input
			background $color-chat-reponse-user-bg
		
		.s10cui-input-button
			pointer-events none

	&[error]
		input
			background $color-input-error-bg
			color $color-input-error-text

		.s10cui-input-button
			background $color-input-error-bg

			svg polygon
				fill $color-input-error-text

s10cui-input-control-elements
	display block
	width 100%
	height auto
	// position absolute
	// top -20px
	// left 0px
	// transform translateY(-100%)
	padding 0px 15px
	margin 10px 0px

	.s10cui-button
		margin-bottom 15px



button.s10cui-input-button
	width 45px
	height 45px
	background: white
	border: 1px solid white
	position: absolute
	overflow hidden
	right 12px
	bottom 12px
	z-index 2
	border-radius 50%
	will-change background, border
	transition background $anim-time * 0.5 $anim-easeOut, border $anim-time * 0.5 $anim-easeOut

	svg polygon
		fill #b9bcbe
		will-change fill
		transition fill $anim-time * 0.5 $anim-easeOut

	&:hover
		background: $color-chat-reponse-user-bg
		border: 1px solid lighten($color-chat-reponse-user-text, 75%)

		svg
			animation s10cui-arrow-up $anim-time $anim-easeInOut
			polygon
				fill $color-dark-blue

@keyframes s10cui-arrow-up
	0%
		transform translateY(0px)
	40%
		transform translateY(-40px)
	40.001%
		transform translateY(40px)
	80%
		transform translateY(-5px)
	90%
		transform translateY(2px)
	100%
		transform translateY(0px)