{% extends "../../../layout.twig" %}

{% set page_title = 'Custom error messages' %}
{% set page_slug = '/functionality/' %}


{% block page %}
    <h1><a href="#custom-error-message" id="custom-error-message" class="anchor"></a>{{page_title}}</h1>
    <p>Map error messages directly to a tag. The messages can be seperated by | to allow for more error messages. The app will shuffle between given messages.</p>

    <pre><code class="language-html">&lt;input type="text" cf-error="Text is wrong wrong|Input is not right" /></code></pre>

    <h2><a href="#questions-example" id="questions-example" class="anchor"></a>Example</h2>
    <p>Submit with no input. to see the error</p>
    <div class="row cfdoc-example-row">
        <div class="col-md-12 col-lg-6">
            <p>The form. Field is required.</p>
            <!-- Conversational Form will auto-run because of attribute "cf-form" -->
            <form id="form" cf-form>
                <input type="text" required cf-error="Text is wrong wrong|Input is not right" />
            </form>
            
        </div>
        <div class="col-md-12 col-lg-6 cfdoc-example">
            <div id="cf-context" role="cf-context" cf-context></div>
        </div>
    </div>
	
{% endblock %}