{% extends "../../../layout.twig" %}

{% set page_title = 'Label on radio- and checkbox-fields' %}
{% set page_slug = '/functionality/labels-on-radio-checkbox/' %}


{% block page %}
    <h1 id="label-on-radio-checkbox">{{page_title}}</h1>
    <p>Add a label to the field. Field must be of type "radio" or "checkbox".</p>

    <pre><code class="language-html">&lt;input type="radio" cf-label="Subscribe to newsletter" /></code></pre>

    <h2 id="questions-example">Example</h2>
    <p data-height="400" data-theme-id="light" data-slug-hash="NXNJpE" data-default-tab="html,result" data-user="space10" data-embed-version="2" data-pen-title="Conversational Forms - labels" class="codepen">See the Pen <a href="https://codepen.io/space10/pen/NXNJpE/">Conversational Forms - labels</a> by SPACE10 (<a href="https://codepen.io/jenssog">@space10</a>) on <a href="https://codepen.io">CodePen</a>.</p>
	
{% endblock %}