{% extends "../../../layout.twig" %}

{% set page_title = 'flowStepCallback' %}
{% set page_slug = '/functionality/flowStepCallback/' %}


{% block page %}
    <h1 id="flowStepCallback">{{page_title}}</h1>
    
    <p>A crude example of validating user response using <code>flowStepCallback</code> and feeding new questions based on your answers. In this example we just feed random questions, but it could obviously be a servers-side logic that would take care of generating new questions based on their answers.</p>
    
    <p data-height="388" data-theme-id="light" data-slug-hash="BJKbYq" data-default-tab="js,result" data-user="space10" data-embed-version="2" data-pen-title="Conversational Forms - flowStepCallback" class="codepen">See the Pen <a href="https://codepen.io/space10/pen/BJKbYq/">Conversational Forms - flowStepCallback</a> by SPACE10 (<a href="https://codepen.io/jenssog">@space10</a>) on <a href="https://codepen.io">CodePen</a>.</p>

	
{% endblock %}