$anim-easeIn = cubic-bezier(0.550, 0.055, 0.675, 0.190)
$anim-easeOut = cubic-bezier(0.215, 0.610, 0.355, 1.000)
$anim-easeInOut = cubic-bezier(0.645, 0.045, 0.355, 1.000)
$anim-easeOutBack = cubic-bezier(0.175,  0.885, 0.320, 1.275)
$anim-time = 0.75s
$anim-time-2 = $anim-time * 0.5

$breakpoint-1 = 769px

$color-black = #222222
$color-white = white
$color-green = #1ED97B

$zIndex-high = 500
$zIndex-middle = 250
$zIndex-low = 50

$menu-height = 61px

$font-weight-regular = 400
$font-weight-bold = 900