{% extends "../../../layout.twig" %}

{% set page_title = 'Value piping' %}
{% set page_slug = '/functionality/' %}

{% block sidebar %}
	{% include '../sidebar.twig' %}
{% endblock %}

{% block page %}
    <h1><a href="#value-piping" id="value-piping" class="anchor"></a>{{page_title}}</h1>
    <p>Map values across tags using the <u>id</u> attribute.</p>
    
	<pre><code class="language-html" data-lang="html">&lt;form id="form">
	&lt;input type="text" id="firstname" cf-questions="Please write your firstname" />
	&lt;input type="text" id="lastname" cf-questions="Hi {firstname}, what is your last name?" />
	
	&lt;input type="text" cf-questions="{firstname} {lastname}, what a solid name!" />
&lt;/form></code></pre>

	<h2><a href="#value-piping-example" id="value-piping-example" class="anchor"></a>Example</h2>
	<div class="row cfdoc-example-row">
		<div class="col-md-12 col-lg-6">
	        <p>Map values across tags using the <u>id</u> attribute, check source of this file.</p>
			
	        <p>The form:</p>
	        <form id="form">
	            <input type="text" id="firstname" cf-questions="Please write your firstname" />
	            <input type="text" id="lastname" cf-questions="Hi {firstname}, what is your last name?" />
	            
	            <input type="text" cf-questions="{firstname} {lastname}, what a solid name!" />
	        </form>

		</div>
		<div class="col-md-12 col-lg-6 cfdoc-example">
			<div id="cf-context" role="cf-context" cf-context></div>
		</div>

	    <script>
	        window.onload = function(){
	            var conversationalForm = window.cf.ConversationalForm.startTheConversation({
	                formEl: document.getElementById("form"),
	                context: document.getElementById("cf-context"),
	                submitCallback: function(){
	                    // window.ConversationalForm
	                    conversationalForm.addRobotChatResponse("Congratulations, you have reached the end of the form!");
	                }
	            });
	        }
	    </script>

	</div>
	
	
{% endblock %}
