@import "nib"
@import "rupture"
@import "../cf-variables"

$introDelay = 1.4s

cf-input
	display block
	position absolute
	width calc(100% - 40px)
	height auto
	bottom 20px
	perspective 2000px

	&.animate-in
		input
			opacity 1
			transform translateY(0px) rotateX(0deg)
		
		cf-input-button.cf-input-button
			transform scale(1, 1)

	input
		// resets..
		&:-webkit-autofill
			// -webkit-box-shadow 0 0 0px 1000px white inset
			background-color white

		&:focus, &:focus, &:focus
			outline none
			-webkit-appearance none
			box-shadow 0px 0px 30px rgba(0,0,0,0.2)
		
		border-radius 0
		border none
		-webkit-appearance none
		position relative
		z-index 2

		// styling
		font-family 'Roboto', sans-serif
		font-size 12px

		width 100%
		height $input-field-height
		color $color-input-text
		will-change box-shadow, background, color, transform, opacity
		transition box-shadow $anim-time $anim-easeOut, background $anim-time $anim-easeOut, color $anim-time $anim-easeOut, transform $anim-time * 0.5 $anim-easeOutBack $introDelay, opacity $anim-time * 0.5 $anim-easeOut $introDelay
		background white
		box-shadow 0px 0px 1px rgba(0,0,0,0.15)
		padding 5px 5px 5px 15px
		opacity 0
		transform translateY(40px) rotateX(-40deg)

		&:hover
			&::-webkit-input-placeholder
				color darken($color-chat-reponse-default-text, 20%)
			&::-moz-input-placeholder
				color darken($color-chat-reponse-default-text, 20%)
			&:-moz-input-placeholder
				color darken($color-chat-reponse-default-text, 20%)
			&:-ms-input-placeholder
				color darken($color-chat-reponse-default-text, 20%)

		&::-webkit-input-placeholder
			color currentColor
		&::-moz-input-placeholder
			color currentColor
		&:-moz-input-placeholder
			color currentColor
		&:-ms-input-placeholder
			color currentColor

	&[disabled="disabled"]
		pointer-events none

		input
			background alpha($color-chat-reponse-default-bg, 50%)

		.cf-input-button
			background alpha($color-chat-reponse-default-bg, 75%)

	&[error]
		pointer-events none

		input
			background $color-input-error-bg
			color $color-input-error-text

		.cf-input-button
			background $color-input-error-bg

			svg polygon
				fill $color-input-error-text
	
	&[tag-type="file"]
		cf-input-button.cf-input-button
			&:after
				content ""
				display block
				width 100%
				height 100%
			
				border 1px solid alpha(#b9bcbe, 50%)
				border-radius 50%
				border-left 0
				border-top 0
				animation cf-spin 1s linear infinite
				will-change opacity
				transition opacity $anim-time * 0.5 $anim-easeOut

			svg.cf-icon-attachment
				transform rotateX(0deg)
				opacity 1
				

			svg.cf-icon-progress
				transform rotateX(-90deg)
				opacity 0

cf-input-button.cf-input-button
	width 29px
	height 29px
	background: white
	border: 1px solid white
	position: absolute
	overflow hidden
	right 5px
	bottom 8px
	z-index 3
	cursor pointer
	border-radius 50%
	will-change background, border
	transition background $anim-time * 0.5 $anim-easeOut, border $anim-time * 0.5 $anim-easeOut, transform $anim-time * 0.5 $anim-easeOutBack $introDelay + 0.35
	perspective 2000px
	transform-origin 50% 50%
	transform scale(0, 0)

	svg
		position absolute
		pointer-events none
		width 100%
		height auto
		transform-origin 50% 50%
		will-change transform, opacity
		transition transform $anim-time * 0.5 $anim-easeOut, opacity $anim-time * 0.5 $anim-easeOut

	svg.cf-icon-attachment
		transform rotateX(90deg)
		opacity 0


		path
			stroke #b9bcbe
			will-change stroke
			transition stroke $anim-time * 0.5 $anim-easeOut

	svg.cf-icon-progress
		transform rotateX(0deg)
		opacity 1

		polygon
			fill #b9bcbe
			will-change fill
			transition fill $anim-time * 0.5 $anim-easeOut
	
	&:active
		&:after
			opacity 0

		svg
			transform scale(0.75, 0.75)

	&:hover, &:focus
		background: $color-chat-reponse-user-bg
		border: 1px solid lighten($color-chat-reponse-user-text, 75%)
		&:after
			opacity 0

		svg.cf-icon-progress
			animation cf-arrow-up $anim-time $anim-easeInOut
			polygon
				fill $color-dark-blue
		
		svg.cf-icon-attachment
			path
				stroke $color-dark-blue

@keyframes cf-spin
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)


@keyframes cf-arrow-up
	0%
		transform translateY(0px)
	40%
		transform translateY(-40px)
	40.001%
		transform translateY(40px)
	80%
		transform translateY(-5px)
	90%
		transform translateY(2px)
	100%
		transform translateY(0px)