@import "nib"
@import "rupture"
@import "../cf-variables"


cf-progress-text
	vertical-align bottom
	display table-cell
	height $progress-text-height
	width 100%
	color $color-chat-reponse-default-text
	will-change color
	transition color $anim-time $anim-easeOut

	&[error="error"]
		color $color-input-error-text