/*html, body, .container {
  height: 100%;
  position: relative;
}

.row.valign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}*/

#conversational-form {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  margin-top: 3px;
}

h1 {
  font-size: 3.5em;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 30px;
  font-weight: 600;
}

#toggle-conversation {
  margin-bottom: 30px;
  border: 2px solid #000;
  text-transform: uppercase;
  padding: 13px 25px;
  font-size: 13px;
  font-weight: 600;
}

#toggle-conversation:hover, #toggle-conversation.active, #toggle-conversation.active:hover {
  border-color: #000;
}

.panel, .btn {
  border-radius: 0;
}

.thanks-container {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
