/*html, body, .container {
  height: 100%;
  position: relative;
}

.row.valign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding-top: 30px;
}

#conversational-form {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  border-radius: 5px;
  margin-top: 3px;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 30px;
  font-family: Roboto Mono, monospace;
}

#toggle-conversation {
  margin-bottom: 30px;
}

#form-outer {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 450px;
}
