html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: Helvetica Neue, Helvetica;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  position: relative;
  font-size: calc(12px + ((13 - 12) * ((100vw - 320px) / (1600 - 320))));
  line-height: 1.2;
}
body *,
body *:before,
body *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
#form {
  padding: 20px;
  border-bottom: 1px solid #e9e9e9;
}
.info {
  color: #fff;
  padding: 20px;
  background: #222;
}
.info button {
  padding: 5px;
}
.info a,
.info a:active,
.info a:hover {
  color: #fff;
}
.info video {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
div[cf-context],
#context {
  background: #e9e9e9;
}
