{% extends "../../layout.twig" %}

{% set page_title = 'Credits' %}
{% set page_slug = '/credits/' %}

{% block page %}
    <h1 id="credits">{{page_title}}</h1>
    <p>Conversational Form is licensed under <a href="https://github.com/space10-community/conversational-form/blob/master/LICENSE.md" target="_blank">MIT</a>. Documentation under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>. Development by <a href="http://twitter.com/flexmotion" target="_blank">Felix Nielsen</a>. Design by <a href="http://www.charlieisslander.com/" target="_blank">Charlie Isslander</a> and <a href="http://norgram.co/" target="_blank">Norgram®</a>.
					<br><br>Concept by <a href="https://space10.io" target="_blank">SPACE10</a>.</p>
	
{% endblock %}
