{% extends "../../../layout.twig" %}

{% set page_title = 'Label on radio- and checkbox-fields' %}
{% set page_slug = '/functionality/' %}


{% block page %}
    <h1><a href="#label-on-radio-checkbox" id="label-on-radio-checkbox" class="anchor"></a>{{page_title}}</h1>
    <p>Add a label to the field. Field must be of type "radio" or "checkbox".</p>

    <pre><code class="language-html">&lt;input type="radio" cf-label="Subscribe to newsletter" /></code></pre>

    <h2><a href="#questions-example" id="questions-example" class="anchor"></a>Example</h2>
    <div class="row cfdoc-example-row">
        <div class="col-md-12 col-lg-6">
            <p>The form:</p>
            <!-- Conversational Form will auto-run because of attribute "cf-form" -->
            <form id="form" cf-form>
                <input type="radio" name="newsletter" cf-label="Subscribe to newsletter" />

                <input type="radio" name="feel" cf-label="Good" />
                <input type="radio" name="feel" cf-label="Average" />
                <input type="radio" name="feel" cf-label="Bad" />

                <fieldset cf-questions="Choose your favorite languages">
                    <input type="checkbox" name="languages" cf-label="Javascript" />
                    <input type="checkbox" name="languages" cf-label="HTML" />
                    <input type="checkbox" name="languages" cf-label="CSS" />
                    <input type="checkbox" name="languages" cf-label="PHP" />
                    <input type="checkbox" name="languages" cf-label="Python" />
                    <input type="checkbox" name="languages" cf-label="C++" />
                    <input type="checkbox" name="languages" cf-label="C#" />
                    <input type="checkbox" name="languages" cf-label=".Net" />
                </fieldset>
            </form>
            <pre><code class="language-html">&lt;form id="form" cf-form>
    &lt;input type="radio" name="newsletter" cf-label="Subscribe to newsletter" />

    &lt;input type="radio" name="feel" cf-label="Good" />
    &lt;input type="radio" name="feel" cf-label="Average" />
    &lt;input type="radio" name="feel" cf-label="Bad" />
&lt;/form></code></pre>
            
        </div>
        <div class="col-md-12 col-lg-6 cfdoc-example">
            <div id="cf-context" role="cf-context" cf-context></div>
        </div>
    </div>
	
{% endblock %}