{% extends "../../../layout.twig" %}

{% set page_title = 'Robot message - cf-robot-message' %}
{% set page_slug = '/functionality/cf-robot-message/' %}

{% block page %}
  <h1 id="conditionals-and-branching-intro">{{page_title}}</h1>
  <p>Add robot messages using <pre><code class="language-javascript" data-lang="javascript">&lt;cf-robot-message cf-questions="Hi friend" /></code></pre>. The tag supports same options as input (conditionals, value-piping etc.).</p>
	
	<h2 id="example">Example</h2>
	<p data-height="391" data-theme-id="0" data-slug-hash="rJPaeY" data-default-tab="html,result" data-user="space10" data-embed-version="2" data-pen-title="Conversational Forms - cf-robot-message example" class="codepen">See the Pen <a href="https://codepen.io/space10/pen/rJPaeY/">Conversational Forms - cf-robot-message example</a> by SPACE10 (<a href="https://codepen.io/space10">@space10</a>) on <a href="https://codepen.io">CodePen</a>.</p>
	
{% endblock %}

{% block toc %}
	
{% endblock %}