{% extends "../../../layout.twig" %}

{% set page_title = 'Custom placeholder text' %}
{% set page_slug = '/functionality/custom-placeholder/' %}

{% block page %}
    <h1 id="value-piping">{{page_title}}</h1>
    <p><code>cf-input-placeholder="Place holder text"</code> can be used to set a custom placeholder text.</p>

    <p data-height="265" data-theme-id="light" data-slug-hash="gorEMv" data-default-tab="html,result" data-user="space10" data-embed-version="2" data-pen-title="Conversational Forms - Custom placeholder text" class="codepen">See the Pen <a href="https://codepen.io/space10/pen/gorEMv/">Conversational Forms - Custom placeholder text</a> by SPACE10 (<a href="https://codepen.io/jenssog">@space10</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
	
{% endblock %}
