@import "nib"
@import "rupture"
@import "../../cf-variables"

cf-chat
	display block
	width 100%
	height auto
	overflow visible
	// flow children to bottom
	display flex
	flex-flow column nowrap
	justify-content flex-end
	align-items baseline

	
	scrollable
		display block
		width 100%
		height auto
		max-height 100%
		overflow-y auto
		margin-bottom 20px


