@import "nib"
@import "rupture"
@import "../../_cf-variables"

$thumbArea = 24px

cf-chat-response
	display table
	max-width 50%
	min-width 120px
	width auto
	position relative
	backface-visibility hidden
	padding-left 34px
	padding-top 16px
	color $color-chat-reponse-default-text
	margin-left 0px
	margin-right auto
	word-break break-all

	&.can-edit
		cursor pointer

		&:hover
			color darken($color-chat-reponse-default-text, 25%)
			text
				background lighten($color-chat-reponse-user-bg, 50%)

	&.user// user..
		margin-right 0px
		margin-left auto
		padding-left 0
		padding-right 34px
		color $color-chat-reponse-user-text

		thumb
			left auto
			right 0px
		
		text
			border-radius 20px 0px 20px 20px
			background $color-chat-reponse-user-bg
			transform-origin 100% 0%
			transform translateY(-10px) translateX(-10px) scale(0.001, 0.001)

			thinking
				left 24px
				right auto

				for num in 1 2 3
					span:nth-child({num})
						animation-delay (num * (1 - (1 / 3))s)
	
		&.peak-thumb
			thumb
				transform scale(1, 1) translateY(0px)
				opacity 1
				.conversational-form--enable-animation &
					transition-delay 0s, 0s, 0s
	
	&.disabled
		pointer-events none
		color lighten($color-chat-reponse-default-text, 25%)

		text
			background lighten($color-chat-reponse-user-bg, 50%)

	text
		user-select none
		display block
		overflow hidden
		position relative
		min-height 40px
		background $color-chat-reponse-default-bg
		border-radius 0px 20px 20px 20px
		opacity 0
		white-space pre-wrap
		word-break normal
		transform-origin 0% 0%
		transform translateY(-10px) translateX(10px) scale(0.001, 0.001)
		will-change transform, opacity, background
		backface-visibility hidden
		height auto

		.conversational-form--enable-animation &
			transition transform $anim-time * 0.5 $anim-easeOut 0s, opacity $anim-time * 0.5 $anim-easeOut 0s, background $anim-time * 0.5 $anim-easeOut
		
		> div
			display inline-block

		&:not(.contains-image)
			padding 12px 24px 12px 24px

		&.contains-image
			> div
				max-width 140px
				text-align left
				padding-bottom 10px
				> span
					padding-left 24px

				> img
					padding-bottom 5px
					width 100%
					height auto
					display block
					margin-bottom 4px

		&:after
			content ""
			display block
			position absolute
			top 50%
			left 20px
			transform translateY(-50%)
			padding-right 20px
		
		thinking
			position absolute
			top 6px
			left 24px
			display table
			font-size 150%
			user-select none

			for num in 1 2 3
				span:nth-child({num})
					animation dot-fade 1s linear (num * (1 / 3)s) infinite

		svg.cf-icon-file
			width 10px
			height auto
			display inline-block
			margin-right 7px

	thumb
		position absolute
		top 0px
		left 0px
		display block
		width $thumbArea
		height $thumbArea
		border-radius 50%
		background alpha(white, 30%)
		background-size cover
		background-position 50% 50%
		opacity 0
		transform-origin 50% 50%
		transform scale(0.001, 0.001) translateY(50px)
		will-change transform, opacity
		.conversational-form--enable-animation &
			transition transform $anim-time * 0.5 $anim-easeOut $anim-time * 0.25, opacity $anim-time * 0.5 $anim-easeOut $anim-time * 0.25

	&.show
		text
			transform translateY(0px) translateX(0px) scale(1, 1)
			opacity 1
			.conversational-form--enable-animation &
				transition-timing-function $anim-easeOut, $anim-easeOut, $anim-easeOut
				transition-delay $anim-time * 0.25, $anim-time * 0.25, 0s

			&[value-added]
				will-change auto
				.conversational-form--enable-animation &
					animation bounce $anim-time * 0.25 $anim-easeOut forwards

		thumb
			transform scale(1, 1) translateY(0px)
			opacity 1
			.conversational-form--enable-animation &
				transition-delay 0s, 0s, 0s

@keyframes dot-fade
	0%
		opacity 1
	15.1111%
		opacity 0
	33.333%
		opacity 1
	100%
		opacity 1

@keyframes bounce
	0%
		transform scale(1, 1)
		opacity 1
	50%
		transform scale(1.05, 1.05)
		opacity 0.85
	100%
		transform scale(1, 1)
		opacity 1